.cta {
  margin-top: 39px;
  // padding-left: 16px;
  background-image: none;
  min-height: 341px;

  @media (min-width: $mobile) {
    margin-top: 37px; //75
    min-height: 622px;
    background-color: $bg-light;
  }

  @media (min-width: $desktop) {
    background-image: url('../../img/cta-bg.png');
    background-repeat: no-repeat;
    background-position: 88.5% 105%;
  }
}

.cta__wrapper {
  padding-top: 44px;
  padding-bottom: 70px;

  @media (min-width: $mobile) {
  padding-top: 150px;
  padding-bottom: 100px;
  }

  @media (min-width: $desktop) {
    padding-top: 158px;
  }
}

.cta__content-wrapper {
  max-width: 307px;

  @media (min-width: $mobile) {
    max-width: 540px;
  }
}

.cta__title {
  margin-bottom: 8px;
  font: 700 28px/34px $body-font-family;

  @media (min-width: $mobile) {
    margin-top: 0;
    margin-bottom: 16px;
    font: 700 46px/55px $body-font-family;
  }

  @media (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.cta__text {
  margin-bottom: 37px;

  font: 400 17px/24px $body-font-family;

  @media (min-width: $mobile) {
    margin-top: 0;
    margin-bottom: 49px;

    font: 400 29px/41px $body-font-family;
  }
}

.cta__download-btn {
  display: flex;
  flex-wrap: nowrap;
}

.cta__download-btn-link {
  text-decoration: none;
  display: block;

  &--appstore {
    width: 127px;
    height: 42px;
    margin-right: 36px;

    @media (min-width: $mobile) {
      width: 201px;
      height: 67px;
      margin-right: 40px;
    }

    @media (min-width: $desktop) {
      margin-right: 56px;
    }
  }

  &--gplay {
    width: 142px;
    height: 42px;

    @media (min-width: $mobile) {
      width: 224px;
      height: 67px;
    }
  }
}

.cta__btn-img {
  display: inline-block;
  vertical-align: middle;

  &--appstore {
    width: 127px;
    height: 42px;

    @media (min-width: $mobile) {
      width: 201px;
      height: 67px;
    }
  }

  &--gplay {
    width: 142px;
    height: 42px;

    @media (min-width: $mobile) {
      width: 224px;
      height: 67px;
    }
  }
}
