.search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  flex-grow: 50;
  align-self: baseline;

  // padding-top: 2px; //5
  margin-top: -1.5px;
  transition: ease all 150ms;

  @media (max-width: $tablet) { //mobile
    // position: absolute;
    // left: 0;

    width: 100vw;
    left: 0;
    position: fixed;
    top: 93px;
    height: 51px;

    display: flex;
    align-items: center;
    // width: 100%;
    // height: 100%;

    background-color: $white;

    z-index: 30;
  }

  @media (max-width: $mobile) {
    top: 37px;
  }
}

.search--hidden {
  opacity: 0;
  visibility: hidden;
  @media (max-width: $tablet) { //mobile
    
  }
}

.search__form {
  position: relative;

  margin-left: 86px; //58
  margin-right: 10px; //102

  @media (max-width: $desktop) {
    margin-right: 10px; //70
    margin-left: 10px; //40
  }

  @media (max-width: $tablet) {
    // margin-right: 20px;
    // margin-left: 20px;
  }

  @media (max-width: $tablet) { //mobile
    width: calc(100% - 20px);
    max-width: 757px;
    margin: auto;
  }

}

.search__input {
  position: relative;
  width: 100%;
  height: 51px; //44
  padding: 0 160px 0 35px;
  border: 1px solid $main-color;
  border-radius: 10px;
  background-color: #F3F4F9;
  background-image: url('../../img/search-icon.svg');
  background-repeat: no-repeat;
  background-position: 11px center;
  background-size: 18px;

  &::placeholder {
    font-size: 13px;
    color: #4D4D4D;
  }

  @media (max-width: $tablet) {
    padding-right: 65px;
  }

  @media (max-width: $tablet) { //mobile
    background-image: none;
  }
}

.search__input-loading {
  background-image: none;
}

.search__submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 39px;
  border: none;
  border-radius: 10px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  color: $white;
  background-color: $main-color;
  transition: background-color .3s;

  cursor: pointer;

  &:focus,
  &:hover {
    background-color: darken($main-color, 10);
  }

  @media (max-width: $tablet) {
    padding-right: 5px;
    padding-left: 5px;
  }

  @media (max-width: $tablet) { //mobile
    width: 40px;

    font-size: 0;
    background-image: url("../../img/search-icon.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50%;
    background-color: transparent
  }
}

.search__close-btn {
  display: none;

  @media (max-width: $tablet) { //mobile
    position: absolute;
    left: 3px;
    top: calc(50% - 15px);

    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;

    cursor: pointer;

    &::after {
      content: "";
      position: absolute;

      left: 0;
      top: calc(50% - 1px);

      width: 100%;
      height: 2px;
      transform: rotate(45deg);

      background-color: $black;
    }

    &::before {
      content: "";
      position: absolute;

      left: 0;
      top: calc(50% - 1px);

      width: 100%;
      height: 2px;
      transform: rotate(-45deg);

      background-color: $black;
    }
  }
}

.search__loader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  // fix
  left: -21px;
  margin-top: 5px;

  .lds-ellipsis {
    transform: scale(.5);
  }
}
